@tailwind base;
@tailwind components;
@tailwind utilities;

/*LOGO*/
@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
  .flicker {
    animation: flicker 2s infinite;
  }